body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(47, 201, 201);
}

h1 {
    text-align: center;
}

main {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
}

#loading {
    text-align: center;
}

#pokemon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.pokemon-card {
    width: 200px;
    max-width: 100%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

.pokemon-card img {
    width: 120px;
    height: 120px;
}

.pokemon-card h2 {
    margin: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
}